{% extends 'base.html.twig' %}

{% block title %}EcoAdventures, c'est quoi ?{% endblock %}


{% block body %}

<h1 style="text-align: center;" class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Bienvenue chez EcoAdventures !</h1>

<p class="mb-6 text-lg font-normal text-lime-700 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
Nous sommes une équipe de militants ayant pour principal objectif de sensibiliser à l'importance de l'écologie
pour le bien de l'environnement et des écosystèmes.<br><br>

Mais attention !
On sait bien que l'apprentissage est plus facile lorsqu'on s'amuse.<br><br>

Ça tombe bien, nous aussi, on aime bien s'amuser !<br><br>

Chez nous, vous trouverez :
</p>

<ul class=" list-disc mb-6 text-lg font-normal text-lime-700 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    <li style="margin-left: 5em">Des cours aux petits oignons pour vous former au mieux</li>
    <li style="margin-left: 5em">Des actualités pour tenir compte de la situation écologique dans le monde</li>
    <li style="margin-left: 5em">Des jeux pour vous faire aimer et prendre goût à notre idéologie</li>
    <li style="margin-left: 5em">Et enfin des Newsletter si vous êtes VRAIMENT curieux comme des petites fouines !</li>
</ul> 
<br>

<p class="mb-6 text-lg font-normal text-lime-700 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
N'hésitez pas à partager notre site web et/ou notre message à vos proches
pour le bien de notre environnement, de nos écosystèmes. <br>
</p>

<h2 style="text-align: center;" class="mb-4 text-lg font-bold leading-none tracking-tight text-black md:text-xl lg:text-3xl dark:text-white"> Donnons un bel avenir à notre planète ! </h2>






{% endblock %}