{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
<div class="bg-white px-4 sm:px-6 lg:px-8 py-8 space-y-8"> <!-- Réduisez space-y-12 à space-y-8 ici -->

    <!-- Section d'Information Personnelle -->
    <div class="flex flex-col items-center justify-center space-y-4">
        <img src="images/logo.png" alt="Image du profil" class="w-40 h-40 rounded-full object-cover">
        <h2 class="font-semibold text-gray-900 text-3xl">Information Personnel</h2>
    </div>

    <!-- Formulaire d'Informations Utilisateur -->
    <div class="flex items-center justify-center">
        <div class="bg-[#a4b07d] w-96 rounded-3xl p-6 space-y-5">
            <div class="space-y-4">
                <input type="text" placeholder="Prénom et nom" class="w-full border rounded-md shadow-sm p-2">
                <input type="email" placeholder="Email" class="w-full border rounded-md shadow-sm p-2">
                <input type="password" placeholder="Mot de passe" class="w-full border rounded-md shadow-sm p-2">
            </div>
        </div>
    </div>

    <!-- Statistiques Utilisateur -->
    <div class="grid grid-cols-2 gap-4 text-center w-full max-w-md mx-auto items-center justify-center mt-4"> <!-- mt-4 au lieu de mt-8 -->
        <div class="bg-green-300 text-white font-bold py-2 px-4 rounded hover:bg-green-500 transition duration-300 transform hover:scale-105">
            <p class="text-black">40</p>
            <p class="text-black font-semibold">EcoScore</p>
        </div>
        <div class="bg-blue-300 text-white font-bold py-2 px-4 rounded hover:bg-blue-500 transition duration-300 transform hover:scale-105">
            <p class="text-black">45</p>
            <p class="text-black font-semibold">Cours</p>
        </div>
        <div class="bg-red-300 text-white font-bold py-2 px-4 rounded hover:bg-red-500 transition duration-300 transform hover:scale-105">
            <p class="text-black">40</p>
            <p class="text-black font-semibold">Challenge</p>
        </div>
        <div class="bg-yellow-300 text-white font-bold py-2 px-4 rounded hover:bg-yellow-500 transition duration-300 transform hover:scale-105">
            <p class="text-black">55</p>
            <p class="text-black font-semibold">Quizz</p>
        </div>
    </div>

    <!-- Section EcoScore -->
<div class=" rounded-3xl w-1/2 max-w-4xl p-8 space-y-6 mx-auto"> <!-- max-w-4xl et mx-auto pour centrer -->
    <h2 class="font-semibold text-3xl text-gray-900 text-center">EcoScore</h2>

    <div class="flex flex-wrap justify-center gap-4"> <!-- Remplacer justify-around par justify-center -->
        {% include 'profil/badge.html.twig' %} 
    </div>
</div>
</div>
{% endblock %}
