{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="flex justify-center flex-col items-center">

        <!-- DIV N1 -->
        <div class="w-full bg-[#F9F2E1] py-10 px-4 sm:px-6 md:px-8 lg:px-10 flex justify-center relative overflow-hidden">
            <img class="w-full max-w-[1500px] h-auto rounded-lg" src="images/Imagen_pegada_2.png" alt="Bannière"/>
            <div class="absolute inset-0 flex items-center justify-center">
                <h1 class="text-white text-6xl sm:text-8xl md:text-9xl font-bold">JEUX</h1>
            </div>
        </div>

        <!-- DIV N2 -->
        <div class="w-full bg-[#F9F2E1] py-10">
            <div class="max-w-6xl mx-auto mb-6">
                <h2 class="text-4xl font-bold text-left ml-2">
                    Quiz Planète Verte
                </h2>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 sm:gap-6 md:gap-8 px-4 sm:px-6 md:px-8 mx-auto max-w-6xl">
                <!-- Carte 1 -->
                <div class="relative bg-white rounded-3xl shadow-lg p-0 w-full transform hover:scale-105 transition duration-300">
                    <img class="w-full h-[200px] object-cover rounded-t-3xl" src="images/generales.jpg" alt="Image Test"/>
                    <div class="bg-white p-4 rounded-b-3xl flex flex-col justify-between">
                        <div class="text-left text-black  text-xl font-semibold mb-2">
                            Connaissances Générales en Écologie
                        </div>
                        <div class="border-t border-black/20 my-2"></div>
                        <div class="text-center text-black">
                            <div class="text-base font-normal text-justify">Testez vos connaissances sur les bases de l’écologie ! Ce quiz explore des sujets essentiels tels que la biodiversité, le changement climatique, et les gestes éco-responsables.</div>
                            
                        </div>
                        <div class="mt-4 text-center">
                            <div class="text-base font-semibold mt-2">Débutant</div>
                            <button class="bg-[#B1CA77] text-white px-6 py-2 rounded-full hover:bg-[#A4B07D] transition">
                                Commencer
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Carte 2 -->
                <div class="relative  bg-white rounded-3xl shadow-lg p-0 w-full transform hover:scale-105 transition duration-300">
                    <img class="w-full h-[200px] object-cover rounded-t-3xl" src="images/zero.jpg" alt="Image Test"/>
                    <div class="bg-white p-4 rounded-b-3xl flex flex-col justify-between">
                        <div class="text-left text-black text-2xl font-semibold mb-2">
                            Quiz Zéro Déchet
                        </div>
                        <div class="border-t border-black/20 my-2"></div>
                        <div class="text-center text-black">
                            <div class="text-base font-normal text-justify">Découvrez si vous maîtrisez les principes du zéro déchet. Apprenez-en plus sur les moyens de réduire les déchets au quotidien et inspirez-vous pour adopter une vie plus durable.</div>
                        </div>
                        <div class="mt-4 text-center">
                            <div class="text-base font-semibold mt-2">Intermédiaire</div>
                            <button class="bg-[#B1CA77] text-white px-6 py-2 rounded-full hover:bg-[#A4B07D] transition">
                                Commencer
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Carte 3 -->
                <div class="relative  bg-white rounded-3xl shadow-lg p-0 w-full transform hover:scale-105 transition duration-300">
                    <img class="w-full h-[200px] object-cover rounded-t-3xl" src="images/renouvelable.jpg" alt="Image Test"/>
                    <div class="bg-white p-4 rounded-b-3xl flex flex-col justify-between">
                        <div class="text-left text-black text-2xl font-semibold mb-2">
                            Les Énergies Renouvelables
                        </div>
                        <div class="border-t border-black/20 my-2"></div>
                        <div class="text-center text-black">
                            <div class="text-base font-normal text-justify">Solaire, éolien, hydraulique... Que savez-vous vraiment des énergies renouvelables ? Ce quiz teste vos connaissances sur les solutions énergétiques respectueuses de l’environnement.</div>
                        </div>
                        <div class="mt-4 text-center">
                            <div class="text-base font-semibold mt-2">Intermédiaire</div>
                            <button class="bg-[#B1CA77] text-white px-6 py-2 rounded-full hover:bg-[#A4B07D] transition">
                                Commencer
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Carte 4 -->
                <div class="relative  bg-white rounded-3xl shadow-lg p-0 w-full transform hover:scale-105 transition duration-300">
                    <img class="w-full h-[200px] object-cover rounded-t-3xl" src="images/biodiversite.jpg" alt="Image Test"/>
                    <div class="bg-white p-4 rounded-b-3xl flex flex-col justify-between">
                        <div class="text-left text-black text-2xl font-semibold mb-2">
                            Les Menaces sur la Biodiversité
                        </div>
                        <div class="border-t border-black/20 my-2"></div>
                        <div class="text-center text-black">
                            <div class="text-base font-normal text-justify">Comprenez les enjeux liés à la biodiversité et les dangers auxquels les espèces sont confrontées. Ce quiz vous fera réfléchir aux défis de la conservation et aux solutions possibles.</div>
                        </div>
                        <div class="mt-4 text-center">
                            <div class="text-base font-semibold mt-2">Avancé</div>
                            <button class="bg-[#B1CA77] text-white px-6 py-2 rounded-full hover:bg-[#A4B07D] transition">
                                Commencer
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Carte 5 -->
                <div class="relative bg-white rounded-3xl shadow-lg p-0 w-full transform hover:scale-105 transition duration-300">
                    <img class="w-full h-[200px] object-cover rounded-t-3xl" src="images/empreinte.jpg" alt="Image Test"/>
                    <div class="bg-white p-4 rounded-b-3xl flex flex-col justify-between">
                        <div class="text-left text-black text-2xl font-semibold mb-2">
                             Empreinte Carbone et Modes de Vie
                        </div>
                        <div class="border-t border-black/20 my-2"></div>
                        <div class="text-center text-black">
                            <div class="text-base font-normal text-justify"> Quel est l’impact de nos choix quotidiens sur l’environnement ? Ce quiz vous aide à mieux comprendre l'empreinte carbone et comment réduire votre impact écologique.</div>
                        </div>
                        <div class="mt-4 text-center">
                            <div class="text-base font-semibold mt-2">Intermédiaire</div>
                            <button class="bg-[#B1CA77] text-white px-6 py-2 rounded-full hover:bg-[#A4B07D] transition">
                                Commencer
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Carte 6 -->
                <div class="relative bg-white rounded-3xl shadow-lg p-0 w-full transform hover:scale-105 transition duration-300">
                    <img class="w-full h-[200px] object-cover rounded-t-3xl" src="images/citoyennes.jpg" alt="Image Test"/>
                    <div class="bg-white p-4 rounded-b-3xl flex flex-col justify-between">
                        <div class="text-left text-black text-2xl font-semibold mb-2">
                           Éco-Gestes du Quotidien
                        </div>
                        <div class="border-t border-black/20 my-2"></div>
                        <div class="text-center text-black">
                            <div class="text-base font-normal text-justify">Petites actions, grands effets ! Découvrez quels éco-gestes adopter pour faire la différence. Un quiz parfait pour ceux qui souhaitent transformer leurs habitudes.</div>
                        </div>
                        <div class="mt-4 text-center  ">
                            <div class="text-base font-semibold mt-2">Débutant</div>
                            <button class="bg-[#B1CA77] text-white px-6 py-2 rounded-full hover:bg-[#A4B07D] transition">
                                Commencer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DIV N3 -->
        <div class="w-full bg-[#CFD897] py-10">
            <div class="max-w-6xl mx-auto mb-6">
                <h2 class="text-4xl font-bold text-left ml-2">
                    Challenges Écologiques
                </h2>
            </div>

            <!-- Carte N1 -->
            <div class="w-full max-w-[1256px] mx-auto p-4 relative">
                <div class="flex flex-col gap-8">
                    <div class="w-full h-auto bg-[#f9f2e1] rounded-[30px] p-6 flex flex-col gap-4">
                        <div class="flex justify-between items-center">
                            <div class="text-center text-black text-base font-semibold uppercase tracking-wider">
                                "UN JOUR SANS PLASTIQUE"
                            </div>
                            <div class="text-black text-base font-semibold tracking-wider text-center">
                                Pendant une journée, éviter tout plastique à usage unique.
                            </div>
                            <div class="text-black text-base font-semibold tracking-wider">
                                POINTS
                            </div>
                        </div>
                        <div class="flex justify-between items-center mt-4 bg-[#A4B07D] text-white p-4 rounded-[15px]">
                            <div class="text-base font-semibold tracking-wider">
                                Niveau : 1 | 2 | 3
                            </div>
                            <div class="text-base font-semibold tracking-wider">
                                Fréquence : <span class="uppercase">journalier</span>
                            </div>
                            <div class="flex items-center gap-2">
                                <button class="bg-[#d9d9d9] text-[#0f0d06] text-sm font-semibold tracking-wider rounded-[15px] px-4 py-1 hover:bg-[#c0c0c0] transition">
                                    ENVOYER A UN AMI
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Carte N2 -->
                    <div class="w-full h-auto bg-[#f9f2e1] rounded-[30px] p-6 flex flex-col gap-4">
                        <div class="flex justify-between items-center">
                            <div class="text-center text-black text-base font-semibold uppercase tracking-wider">
                                "Zéro Déchet"
                            </div>
                            <div class="text-black text-base font-semibold tracking-wider text-center">
                                Réduire les déchets à un minimum pendant une semaine.
                            </div>
                            <div class="text-black text-base font-semibold tracking-wider">
                                POINTS
                            </div>
                        </div>
                        <div class="flex justify-between items-center mt-4 bg-[#A4B07D] text-white p-4 rounded-[15px]">
                            <div class="text-base font-semibold tracking-wider">
                                Niveau : 1 | 2 | 3
                            </div>
                            <div class="text-base font-semibold tracking-wider">
                                Fréquence : <span class="uppercase">hebdomadaire</span>
                            </div>
                            <div class="flex items-center gap-2">
                                <button class="bg-[#d9d9d9] text-[#0f0d06] text-sm font-semibold tracking-wider rounded-[15px] px-4 py-1 hover:bg-[#c0c0c0] transition">
                                    ENVOYER A UN AMI
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Carte N3 -->
                    <div class="w-full h-auto bg-[#f9f2e1] rounded-[30px] p-6 flex flex-col gap-4">
                        <div class="flex justify-between items-center">
                            <div class="text-center text-black text-base font-semibold uppercase tracking-wider">
                                "CUISINE PLUS DURABLE"
                            </div>
                            <div class="text-black text-base font-semibold tracking-wider text-center">
                                Cuisiner des produits de saison, en circuit court et sans emballage.
                            </div>
                            <div class="text-black text-base font-semibold tracking-wider">
                                POINTS
                            </div>
                        </div>
                        <div class="flex justify-between items-center mt-4 bg-[#A4B07D] text-white p-4 rounded-[15px]">
                            <div class="text-base font-semibold tracking-wider">
                                Niveau : 1 | 2 | 3
                            </div>
                            <div class="text-base font-semibold tracking-wider">
                                Fréquence : <span class="uppercase">mensuel</span>
                            </div>
                            <div class="flex items-center gap-2">
                                <button class="bg-[#d9d9d9] text-[#0f0d06] text-sm font-semibold tracking-wider rounded-[15px] px-4 py-1 hover:bg-[#c0c0c0] transition">
                                    ENVOYER A UN AMI
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Carte N4 -->
                    <div class="w-full h-auto bg-[#f9f2e1] rounded-[30px] p-6 flex flex-col gap-4">
                        <div class="flex justify-between items-center">
                            <div class="text-center text-black text-base font-semibold uppercase tracking-wider">
                                "Engagement pour l'environnement"
                            </div>
                            <div class="text-black text-base font-semibold tracking-wider text-center">
                                Aider une association écologique.
                            </div>
                            <div class="text-black text-base font-semibold tracking-wider">
                                POINTS
                            </div>
                        </div>
                        <div class="flex justify-between items-center mt-4 bg-[#A4B07D] text-white p-4 rounded-[15px]">
                            <div class="text-base font-semibold tracking-wider">
                                Niveau : 1 | 2 | 3
                            </div>
                            <div class="text-base font-semibold tracking-wider">
                                Fréquence : <span class="uppercase">annuel</span>
                            </div>
                            <div class="flex items-center gap-2">
                                <button class="bg-[#d9d9d9] text-[#0f0d06] text-sm font-semibold tracking-wider rounded-[15px] px-4 py-1 hover:bg-[#c0c0c0] transition">
                                    ENVOYER A UN AMI
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}