{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}
<h2>Limite de Quiz Atteinte</h2>
<p>{{ message }}</p>
<p>Revenez demain pour essayer de nouveaux quiz !</p>

{% endblock %}