<nav class="flex items-center justify-between w-full h-[94px] bg-[#a4b07d] px-10">
    <div class="flex items-center space-x-4">
        <a href="/">
            <img class="w-10 h-10" src="{{ asset('images/logo.png') }}" alt="Logo"> {# Assurez-vous que le chemin vers votre logo est correct #}
        </a>
    </div>
    <div class="flex-grow flex justify-center">
        <div class="flex space-x-10">
            <a href="/" class="text-black text-xl font-normal font-['Inter'] hover:text-gray-800 transition duration-300">Accueil</a>
            <a href="/" class="text-black text-xl font-normal font-['Inter'] hover:text-gray-800 transition duration-300">S’instruire</a>
            <a href="/" class="text-[#f9f2e1] text-xl font-normal font-['Inter'] hover:text-yellow-300 transition duration-300">Jeux</a>
        </div>
    </div>
    <div class="flex items-center space-x-4">
        <a href="/" class="text-black text-xl font-normal font-['Inter'] hover:text-gray-800 transition duration-300">Profil</a>
        <a href="/" class="text-black text-xl font-normal font-['Inter'] hover:text-gray-800 transition duration-300">Se Connecter</a>
    </div>
</nav> 